In [73]:
import pandas as pd

In [74]:
df = pd.read_json('../data/raw/applerev.json')

In [75]:
df.head()

,date,symbol,reportedCurrency,fillingDate,acceptedDate,period,revenue,costOfRevenue,grossProfit,grossProfitRatio,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
0,2020-09-26,AAPL,USD,2020-10-30,2020-10-29 18:06:25,FY,274515000000,169559000000,104956000000,0.38233247727810804,...,0.24439830246070302,9680000000,57411000000,0.20913611278072203,3.31,3.2800000000000002,17352119000,17528214000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
1,2019-09-28,AAPL,USD,2019-10-31 00:00:00,2019-10-30 18:12:36,FY,260174000000,161782000000,98392000000,0.37817768109034705,...,0.252665523841736,10481000000,55256000000,0.212380945059844,2.9925,2.9725,18471336000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2,2018-09-29,AAPL,USD,2018-11-05 00:00:00,2018-11-05 08:01:40,FY,265595000000,163756000000,101839000000,0.38343718820007905,...,0.274489354091756,13372000000,59531000000,0.22414202074587203,3.0025,2.9775,19821508000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
3,2017-09-30,AAPL,USD,2017-11-03 00:00:00,2017-11-03 08:01:37,FY,229234000000,141048000000,88186000000,0.38469860491899105,...,0.27957894553164003,15738000000,48351000000,0.21092420845075302,2.3175,2.3025,20868968000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
4,2016-09-24,AAPL,USD,2016-10-26 00:00:00,2016-10-26 16:42:16,FY,215639000000,131376000000,84263000000,0.39075955648097005,...,0.284605289395703,15685000000,45687000000,0.21186798306428803,2.0875,2.0775,21883280000,22001124000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

# Clean Data

In [76]:
df = df.drop(columns=['reportedCurrency', 
                      'fillingDate', 
                      'acceptedDate', 
                      'period', 
                      'link', 
                      'finalLink', 
                      'symbol', 
                      'grossProfitRatio', 
                      'incomeBeforeTaxRatio', 
                      'netIncomeRatio', 
                      'eps', 
                      'epsdiluted'])

In [77]:
df = df.sort_values("date")

# Data analysis

In [78]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [79]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 10)

In [81]:
df.head()

,date,revenue,costOfRevenue,grossProfit,researchAndDevelopmentExpenses,generalAndAdministrativeExpenses,sellingAndMarketingExpenses,sellingGeneralAndAdministrativeExpenses,otherExpenses,operatingExpenses,...,ebitda,ebitdaratio,operatingIncome,operatingIncomeRatio,totalOtherIncomeExpensesNet,incomeBeforeTax,incomeTaxExpense,netIncome,weightedAverageShsOut,weightedAverageShsOutDil
35,1985-09-30,1918300000,1076000000,842300000,0,653200000,0,695000000,0,695000000,...,189100000,0.09857686493249201,147300000,0.07678673825783201,-27200000,120000000,58800000,61200000,13708800000,13708800000
34,1986-09-30,1901900000,840000000,1061900000,0,737300000,0,788400000,0,788400000,...,324600000,0.170671433829328,273500000,0.143803564856196,36200000,309800000,155800000,154000000,14373333333,14373333333
33,1987-09-30,2661100000,1225700000,1435400000,0,993400000,0,1063900000,0,1063900000,...,442000000,0.16609672691744,371500000,0.139603923189658,38900000,410400000,192900000,217500000,14674698795,14674698795
32,1988-09-30,4071400000,1913200000,2158200000,0,1460200000,0,1537900000,0,1537900000,...,698000000,0.17143979957754002,620300000,0.15235545512600002,35800000,656200000,255900000,400300000,14556363636,14556363636
31,1989-09-30,5284000000,2570000000,2714000000,0,1954900000,0,2079700000,0,2079700000,...,759100000,0.143660105980317,634300000,0.12004163512490501,110000000,744300000,290300000,454000000,14363841808,14363841808

In [ ]:
df[["revenue", "costOfRevenue"]] = df[["revenue", "costOfRevenue"]] / 1000000000

In [88]:
df.

date                                       datetime64[ns]
revenue                                           float64
costOfRevenue                                     float64
grossProfit                                         int64
researchAndDevelopmentExpenses                      int64
generalAndAdministrativeExpenses                    int64
sellingAndMarketingExpenses                         int64
sellingGeneralAndAdministrativeExpenses             int64
otherExpenses                                       int64
operatingExpenses                                   int64
costAndExpenses                                     int64
interestExpense                                     int64
depreciationAndAmortization                         int64
ebitda                                              int64
ebitdaratio                                       float64
operatingIncome                                     int64
operatingIncomeRatio                              float64
totalOtherIncomeExpensesNet                         int64
incomeBeforeTax                                     int64
incomeTaxExpense                                    int64
netIncome                                           int64
weightedAverageShsOut                               int64
weightedAverageShsOutDil                            int64
dtype: object